

body {
  text-transform: capitalize;
  font: ('HARRYP__.TTF');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 300px;
  height: auto
}
.favPic{
  width: auto;
  height: 300px;
  margin: 0 auto;  
  
}
.favBackground{
  background-image: url("https://m.media-amazon.com/images/I/71nsk6vUTlL._AC_SL1470_.jpg")
}
.favList{
  background-color: white;
  padding: 10px;
  width: auto;
  padding: 12px;
  margin: 6px 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  
}
body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homePage{
  text-align: center;
  font-size: 50px;
  color: #740001;
}

.characters{
  columns: 100px 3;
  padding: 30px;
  
}
.charList{
  padding: 5px;
  display: flex;
}
