body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 300px;
  height: auto
}

.favList{
  padding: 10px;
  width: auto;
  padding: 12px;
  margin: 6px 6px 6px;
  border: 10px;
  border-color: black;

}
.homePage{
  background-image: "https://i.ebayimg.com/images/g/H1MAAOSwcHRdPFKt/s-l400.jpg";
}