

body {
  text-transform: capitalize;
  font: ('HARRYP__.TTF');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 300px;
  height: auto
}

.favList{
  
  background-color: bisque;
  padding: 10px;
  width: auto;
  padding: 12px;
  margin: 6px 6px 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px

}
body{
  background-image: url("https://m.media-amazon.com/images/I/71nsk6vUTlL._AC_SL1470_.jpg");
}

.homePage{
  text-align: center;
  font-size: 50px;
  color: #740001;
}

.characters{
  color:white;
}